In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("data\alcohol_consumption.tsv", sep = "[,\t]", engine = "python")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'data\x07lcohol_consumption.tsv'

In [3]:
# Comprobamos los nulos:
df.isnull().sum()

unit         0
frequenc     0
isced11      0
sex          0
age          0
time\geo     0
EU28         0
BE           0
BG           0
CZ           0
DK           0
DE           0
EE           0
IE           0
EL           0
ES           0
HR           0
IT           0
CY           0
LV           0
LT           0
LU           0
HU           0
MT           0
AT           0
PL           0
PT           0
RO           0
SI           0
SK           0
FI           0
SE           0
UK           0
IS           0
NO           0
TR           0
dtype: int64

In [4]:
# Revisamos los nombres de las columnas:
df.columns

Index(['unit', 'frequenc', 'isced11', 'sex', 'age', 'time\geo ', 'EU28 ',
       'BE ', 'BG ', 'CZ ', 'DK ', 'DE ', 'EE ', 'IE ', 'EL ', 'ES ', 'HR ',
       'IT ', 'CY ', 'LV ', 'LT ', 'LU ', 'HU ', 'MT ', 'AT ', 'PL ', 'PT ',
       'RO ', 'SI ', 'SK ', 'FI ', 'SE ', 'UK ', 'IS ', 'NO ', 'TR'],
      dtype='object')

In [5]:
# Quitamos espacios finales a las columnas:
df.columns = df.columns.str.strip()
df.head()

,unit,frequenc,isced11,sex,age,time\geo,EU28,BE,BG,CZ,...,PT,RO,SI,SK,FI,SE,UK,IS,NO,TR
0,PC,DAY,ED0-2,F,TOTAL,2014,6.2 e,7.5 u,1.3,2.5,...,15.4,0.9,4.7,0.6,1.4,1.6,5.4,0.2,0.7,0.1
1,PC,DAY,ED0-2,F,Y15-19,2014,0.0 e,0 u,0,0,...,0,0,0,0,0,0,0 u,0,0,0
2,PC,DAY,ED0-2,F,Y15-24,2014,0.1 e,0 u,0,0,...,0,0,0,0,0,0,0,0.5,0,0
3,PC,DAY,ED0-2,F,Y15-29,2014,0.2 e,0.3 u,0,0,...,0.8,0,0,0,1.1,0,0,0.4,0,0.1
4,PC,DAY,ED0-2,F,Y15-64,2014,4.1 e,4.7 u,0.7,2.3,...,12.6,0.7,1.8,0.4,1.9,0.8,3.6,0.2,0.7,0.1

In [6]:
# Función parar borrar filas con X condición:
def delete_rows (df, column, list_):
    for value in list_:
        df.drop(df[df[column] == value].index, inplace=True)

In [7]:
# Comprobamos los valores de 'sex':
df["sex"].unique()

array(['F', 'M', 'T'], dtype=object)

In [8]:
# Elimino el total:
sex_list = ["T"]
delete_rows(df, 'sex', sex_list)

df["sex"].unique()

array(['F', 'M'], dtype=object)

In [9]:
# Comprobamos los valores de "frequenc":
df["frequenc"].unique()

array(['DAY', 'LT1M', 'MTH', 'NM12', 'NVR', 'NVR_NM12', 'WEEK'],
      dtype=object)

In [10]:
# Nos quedamos sólo con "DAY", "MTH" y "WEEK", eliminamos el resto:
frequenc_list = ["LT1M", "NM12", "NVR", "NVR_NM12"]
delete_rows(df, 'frequenc', frequenc_list)

df["frequenc"].unique()

array(['DAY', 'MTH', 'WEEK'], dtype=object)

In [11]:
# Comprobamos los intervalos de "age":
df["age"].unique()

array(['TOTAL', 'Y15-19', 'Y15-24', 'Y15-29', 'Y15-64', 'Y18-24',
       'Y18-44', 'Y18-64', 'Y20-24', 'Y25-29', 'Y25-34', 'Y25-64',
       'Y35-44', 'Y45-54', 'Y45-64', 'Y55-64', 'Y65-74', 'Y_GE18',
       'Y_GE65', 'Y_GE75'], dtype=object)

In [12]:
# Eliminamos todos los intervalos que no vamos a usar en el estudio:
age_list = ["TOTAL", "Y15-29", "Y18-24", "Y18-44", "Y25-64", "Y45-54", "Y55-64", "Y_GE18", "Y_GE65"]
delete_rows(df, 'age', age_list)

df["age"].unique()

array(['Y15-19', 'Y15-24', 'Y15-64', 'Y18-64', 'Y20-24', 'Y25-29',
       'Y25-34', 'Y35-44', 'Y45-64', 'Y65-74', 'Y_GE75'], dtype=object)

In [13]:
# Borramos columnas:
# Comprobamos que "unit", "time\geo" y "isced11" no proporcionan info y que Turquía no está la UE, borramos todo:
df = df.drop(["unit", "time\geo", "isced11", "TR"], axis = 1)
# Elimino EU28 ya que no quiero tener totales:
df = df.drop(["EU28"], axis = 1)
df.head()

,frequenc,sex,age,BE,BG,CZ,DK,DE,EE,IE,...,PL,PT,RO,SI,SK,FI,SE,UK,IS,NO
1,DAY,F,Y15-19,0 u,0,0,0,0.2,0,0,...,0,0,0,0,0,0,0,0 u,0,0
2,DAY,F,Y15-24,0 u,0,0,0,0.4,0,0,...,0,0,0,0,0,0,0,0,0.5,0
4,DAY,F,Y15-64,4.7 u,0.7,2.3,3.3,3.0,0.4,0.3,...,0.6,12.6,0.7,1.8,0.4,1.9,0.8,3.6,0.2,0.7
7,DAY,F,Y18-64,5.8 u,0.8,3.1,4.7,4.0,0.5,0.4,...,0.8,13.9,0.8,2.1,0.6,2.7,0.8,3.7,0.3,0.7
8,DAY,F,Y20-24,0 u,0 u,: u,: u,1.5,0 u,: u,...,0 u,0,0,: u,: u,: u,0 u,0 u,2.4 u,0

In [14]:
# Nombres de columnas en mayúscula:
df.columns = df.columns.str.upper()
df.head()

,FREQUENC,SEX,AGE,BE,BG,CZ,DK,DE,EE,IE,...,PL,PT,RO,SI,SK,FI,SE,UK,IS,NO
1,DAY,F,Y15-19,0 u,0,0,0,0.2,0,0,...,0,0,0,0,0,0,0,0 u,0,0
2,DAY,F,Y15-24,0 u,0,0,0,0.4,0,0,...,0,0,0,0,0,0,0,0,0.5,0
4,DAY,F,Y15-64,4.7 u,0.7,2.3,3.3,3.0,0.4,0.3,...,0.6,12.6,0.7,1.8,0.4,1.9,0.8,3.6,0.2,0.7
7,DAY,F,Y18-64,5.8 u,0.8,3.1,4.7,4.0,0.5,0.4,...,0.8,13.9,0.8,2.1,0.6,2.7,0.8,3.7,0.3,0.7
8,DAY,F,Y20-24,0 u,0 u,: u,: u,1.5,0 u,: u,...,0 u,0,0,: u,: u,: u,0 u,0 u,2.4 u,0

In [15]:
# Renombramos Y_GE75 y la columnas "frequenc":
df.replace({"Y_GE75" : "Y75+"}, inplace = True)
df.rename(columns = {"FREQUENC": "FREQUENCY"}, inplace = True)
df.head()

,FREQUENCY,SEX,AGE,BE,BG,CZ,DK,DE,EE,IE,...,PL,PT,RO,SI,SK,FI,SE,UK,IS,NO
1,DAY,F,Y15-19,0 u,0,0,0,0.2,0,0,...,0,0,0,0,0,0,0,0 u,0,0
2,DAY,F,Y15-24,0 u,0,0,0,0.4,0,0,...,0,0,0,0,0,0,0,0,0.5,0
4,DAY,F,Y15-64,4.7 u,0.7,2.3,3.3,3.0,0.4,0.3,...,0.6,12.6,0.7,1.8,0.4,1.9,0.8,3.6,0.2,0.7
7,DAY,F,Y18-64,5.8 u,0.8,3.1,4.7,4.0,0.5,0.4,...,0.8,13.9,0.8,2.1,0.6,2.7,0.8,3.7,0.3,0.7
8,DAY,F,Y20-24,0 u,0 u,: u,: u,1.5,0 u,: u,...,0 u,0,0,: u,: u,: u,0 u,0 u,2.4 u,0

In [16]:
# Reiniciamos index después de todos los deletes:
df.reset_index(drop=True, inplace=True)

In [17]:
# Exportamos csv limpio:
df.to_csv("BBDD.csv")